.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.heading h1 {
  background: -webkit-linear-gradient(94deg, #ffffff 0%, #000000 100%);
  font-size: 3rem;
  text-align: center;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: .44rem;
  margin-bottom: 3rem;

}

.inputGroup {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}

.inputGroup input {
  background-color: #2E2E2E;
  border-radius: 10px;
  border: none;
  width: 40rem;
  padding-block: 1.3rem;
  padding-left: 1rem;
  color: white;
  font-size: 14px;
  font-family: 'Cinzel', serif;
}

::placeholder {
  color: rgb(184, 184, 184);
  font-family: 'Cinzel', serif;
}

.btn {
  border: 0 solid;
  cursor: pointer;
  font-family: 'Cinzel', serif;
  font-size: 108%;
  background: linear-gradient(90deg, blue, red);
  border-radius: 999px;
  font-weight: 800;
  padding: 1.8rem 5rem;
  position: relative;
  text-transform: uppercase;
  margin-left: 1rem;
}

.btn span {
  background: #1e293b;
  border-radius: 999px;
  color: #e4e4e4;
  display: grid;
  inset: 5px;
  place-items: center;
  position: absolute;
  transition: background 0.3s;
}

.btn:hover span {
  background: none;
}

.generated {
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38rem;
  border-radius: 15px;
  margin-top: 3rem;
  padding-bottom: 1.5rem;

}

.generated h1 {
  background: -webkit-linear-gradient(94deg, #ffffff 0%, #000000 100%);
  font-size: 2rem;
  text-align: center;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: .44rem;
  margin-bottom: 2rem;
}

.generated img {
  border-radius: 10px;
  height: 512px;
  width: 512px;
}

.loader {
  width: 0%;
  height: 3.5px;
  background-color: red;
}

.loader_full {
  width: 100%;
  height: 3.5px;
  background-color: red;
  transition: 15s ease-out;
}

.downDiv {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.downDiv button {
  color: rgba(255, 255, 255, 0.692);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.397);
  background: rgba(255, 255, 255, 0.068);
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 600;
  gap: 8px;
  border-radius: 5px;
  margin: 0 5px;
  transition: 0.2s;
  border: 1px solid transparent;
}

.downDiv button:hover {
  border-color: rgba(209, 202, 202, 0.623);
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.144),
      rgba(255, 255, 255, 0.247),
      rgba(255, 255, 255, 0.39));
  box-shadow: 0 6px rgba(255, 255, 255, 0.623);
  transform: translateY(-6px);
}

.downDiv button:active {
  transform: translateY(2px);
  box-shadow: none;
}

@media (max-width:900px) {
  .heading h1 {
    font-size: 2rem;
  }

  .inputGroup input {
    width: 25rem;
  }

}

@media (max-width:675px) {
  .heading h1 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    padding-inline: 1rem;
  }

  .generated {
    width: 25.5rem;
    padding-bottom: 1.5rem;
  }

  .generated h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .generated img {
    height: 350px;
    width: 350px;
  }

  .inputGroup input {
    width: 18rem;
    font-size: .65rem;
    padding-block: 1rem;
    padding-left: .5rem;
  }

  .btn {
    font-size: 89%;
    padding: 1.5rem 3.5rem;
    margin-left: .8rem;
  }

  .downDiv {
    margin-top: .6rem;
    margin-bottom: 0rem;
  }

  .downDiv button {
    height: 3rem;
    width: 4rem;
  }
}

@media (max-width:460px) {
  .heading h1 {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    text-wrap: wrap;
  }

  .inputGroup input {
    width: 11rem;
    font-size: .65rem;
    padding-block: .8rem;
    padding-left: .5rem;
  }

  ::placeholder {
    font-size: .58rem;
  }

  .generated {
    width: 20.5rem;
    padding-bottom: 1.5rem;
  }

  .generated h1 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .generated img {
    height: 270px;
    width: 270px;
  }

  .btn {
    font-size: 66%;
    padding: 1.25rem 2.7rem;
    margin-left: .6rem;
  }
  .btn span {
    inset: 3.3px;
  }
  .downDiv {
    margin-top: .6rem;
    margin-bottom: 0rem;
  }

  .downDiv button {
    height: 2rem;
    width: 3.5rem;
    gap: 0px;
  }
}

@media (max-width:370px) {
  .generated {
    width: 16.5rem;
    padding-bottom: 1rem;
  }

  .generated img {
    height: 215px;
    width: 215px;
  }
}
